<div class="container mt-3 ms-lg-3">
   <div class="row">
      <div class="col ms-0">
         <p class="h3 font-bold text-danger">View Contact</p>
         <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quod, repellendus quae magnam doloribus nisi voluptate laudantium fugit enim voluptatibus autem alias exercitationem? Alias explicabo nam quo neque, laborum ipsa!</p>
      </div>
   </div>
</div>

<!-- Contact Details  -->
<div class="container ms-1">
   <div class="row align-items-center ms-5">
      <div class="col ">
         <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkit.com%2Fpng%2Ffull%2F281-2812821_user-account-management-logo-user-icon-png.png&f=1&nofb=1&ipt=ced6f3648dc7e77f768aad52566b5eb943c556111bc394175017ef7337264b5d&ipo=images" alt="" class="contact-image-lg">
      </div>
      <div class="col-sm-6 mt-lg-4 ms-0">
         <ul class="list-group">
            <li class="list-group-item list-group-item-danger"> Name : <span class="fw-bold">Nagendra</span></li>
            <li class="list-group-item list-group-item-danger"> Email : <span class="fw-bold">Nagendra.mohan.5@gmail.com</span></li>
            <li class="list-group-item list-group-item-danger"> Mobile : <span class="fw-bold">6306653065</span></li>
            <li class="list-group-item list-group-item-danger"> Company : <span class="fw-bold">xyz</span></li>
            <li class="list-group-item list-group-item-danger"> Title : <span class="fw-bold">SDE-1</span></li>
            <li class="list-group-item list-group-item-danger"> group : <span class="fw-bold">Select</span></li>
         </ul>

      </div>
   </div>
   <div class="row">
      <div class="col">
         <a routerLink="/" class="btn  btn-danger ms-lg-5">
            <i class="fa fa-arrow-alt-circle-left"></i>
            Back</a>
      </div>
   </div>
</div>